<div class="orcamento-container">
  <h2>Cadastro de Cliente e Projeto</h2>

  <!-- Mensagem de Sucesso ou Erro -->
  <div
    *ngIf="mensagem"
    class="alert"
    [ngClass]="{
      'alert-success': mensagemTipo === 'success',
      'alert-danger': mensagemTipo === 'error'
    }"
  >
    {{ mensagem }}
  </div>

  <!-- Formulário de Cadastro de Cliente -->
  <form (ngSubmit)="adicionarCliente()" [formGroup]="clienteForm">
    <h3>Dados do Cliente</h3>
  
    <!-- Linha 1: Nome e Sobrenome -->
    <div class="form-row">
      <label>
        Nome <span class="required">*</span>:
        <input formControlName="nome" type="text" maxlength="50" required (input)="contarCaracteres('nome')" />
        <small>{{ clienteForm.get('nome')?.value.length || 0 }} / 50 caracteres</small>
      </label>
      <label>
        Sobrenome <span class="required">*</span>:
        <input formControlName="sobrenome" type="text" maxlength="50" required  (input)="contarCaracteres('sobrenome')"/>
        <small>{{ clienteForm.get('sobrenome')?.value.length || 0 }} / 50 caracteres</small>
      </label>
    </div>
  
    <!-- Linha 2: E-mail -->
    <div>
      <label for="email">
        E-mail <span class="required">*</span>:
        <input formControlName="email" type="email" maxlength="100" class="input-full-width" required />
      </label>
      <div *ngIf="clienteForm.get('email')?.invalid && clienteForm.get('email')?.touched" class="error-message">
        <small class="text-danger" *ngIf="clienteForm.get('email')?.hasError('emailInvalido')">
          O formato do e-mail está incorreto. Certifique-se de incluir '@' e um domínio válido.
        </small>
      </div>
    </div>
  
    <!-- Linha 3: Telefone e Cargo -->
    <div class="form-row">
      <label>
        Telefone <span class="required">*</span>:
        <input formControlName="telefone" type="tel" maxlength="20" required />
      </label>
      <label>
        Cargo:
        <input formControlName="cargo" type="text" maxlength="25"  placeholder= "Ex.: Gerente, Administrador, etc." />
      </label>
    </div>
  
    <!-- Botões -->
    <div class="form-buttons">
      <a routerLink="../home" class="btn-voltar">Voltar</a>
      <button type="submit" [disabled]="!clienteForm.valid">Salvar Cliente</button>
      <button type="button" (click)="cancelarCadastro()" class="cancelar">Cancelar</button>
    </div>
  </form>

  <!-- Formulário de Cadastro de Projeto -->
  <form
    *ngIf="clienteCadastrado"
    (ngSubmit)="adicionarProjeto()"
    [formGroup]="projetoForm"
  >
    <h3>Dados do Projeto</h3>
    <label>
      Nome do Projeto:
      <input formControlName="nomeProjeto" type="text" required />
    </label>
    <label>
      Categoria do Projeto:
      <input formControlName="categoria" type="text" required/>
    </label>

     <!-- Descrição Projeto -->
     <div class="descricao-projeto-box">
        <label for="descricao">Descrição do Projeto</label>
       <textarea
        id="descricao"
        formControlName="descricao"
        rows="4"
        (input)="filtrarPalavras()"
       ></textarea>
     </div>

     <!-- Campo para exibir palavras filtradas -->
     <textarea id="palavrasFiltradas" readonly rows="2" style="pointer-events: none; background: #f9f9f9;">
       {{ palavrasFiltradas.join(', ') }}
     </textarea>

     <!-- Proposta dias para receber -->
    <label>
      Em quantos dias quer receber sua proposta?
      <select formControlName="duracao" required>
        <option value="urgente">Urgente</option>
        <option value="3">3 dias</option>
        <option value="7">7 dias</option>
        <option value="15">15 dias</option>
        <option value="30">30 dias</option>
        <option value="semdata">Não tem data definida</option>
      </select>
    </label>
    <label>
      Status:
      <select formControlName="status">
        <option value="aberto">Aberto</option>
        <option value="fechado">Fechado</option>
        <option value="em andamento">Em Andamento</option>
        <option value="aguardando proposta">Aguardando Proposta</option>
        <option value="concluido">Concluído</option>
        <option value="cancelado">Cancelado</option>
      </select>
    </label>
   
    <!-- Botões de Voltar e Salvar -->
    <div class="form-buttons">
      <a routerLink="../home" class="btn-voltar">Voltar</a>
      <button type="submit" [disabled]="!projetoForm.valid">Salvar Projeto</button>
    </div>
  </form>

  <!-- Lista de Projetos -->
  <div *ngIf="projetos.length > 0">
    <h3>Projetos do Cliente</h3>
    <ul>
      <li *ngFor="let projeto of projetos">
        {{ projeto.nomeProjeto }} - {{ projeto.status }} ({{ projeto.duracao }} dias)
      </li>
    </ul>
  </div>
</div>
